<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>
    <div class="container">
        <h3>중고차 정보 수정</h3>
        <table class="table table-bordered">
        </table>
    </div>
</body>
</html>